{% extends "base.htm" %}

{% block content %}
<style>
span {
  color: red;
}

label {
  display: inline-block;
  width: 140px;
  text-align: left;
  margin-right: 15px;
}

.subject_error {
  display: {{subject_error_visibility|default('none')}};
}

.content_error {
  display: {{content_error_visibility|default('none')}};
}

</style>
<form method="post">
  <h2>New Post</h2>
  <label>Subject</label><input type="text" name="subject" value="{{subject}}">
  <span class="subject_error">Subject cannot be empty</span>
  <br>
  <label>Content</label><textarea name="content">{{content}}</textarea>
  <span class="content_error">Content cannot be empty</span>
  <br>
  <br>
  <button>Add post</button>
</form>
{% endblock %}