{% extends "base.htm" %}

{% block content %}
  <style>
  .no_post_warning {
    display: {{no_post_warning_visibility|default('none')}};
  }

  .signup_link {
    display: {{signup_link_visibility|default('none')}};
  }
  </style>

  <h2>Sample Blog</h2>
  <a class="signup_link" href="/blog/signup">Sign up</a>
  <a href="/blog/newpost">New Post</a>
  <br>
  <br>
  <hr>
  <br>
  <br>

  {% if posts %}
    {% for post in posts %}
      {% include 'blog_post.htm' %}
    {% endfor %}
  {% endif %}
  <div class="no_post_warning">
    <span>There is no post yet, please come back later, or add a </span>
    <a href="/blog/newpost">post</a>
  </div>
{% endblock %}